.brand-logo{
    padding: 0px 5px !important
}

.hidden{
    display: none;
}

.extra-space {
    height: 100px;
    margin-bottom: 25px;
}

.spacer{
    flex: 1;
}

#notification-text {
    height: 100px;
    white-space: normal;
    align-items: center;
    font-size: 1.2em;
}

.flexy {
    display: flex;
}

.button-container{
    display: flex;
    align-items: center;
    height: 100px;
}

.edge-right{
    float: right;
}

.collection{
    height: 35vh;
    overflow-y:scroll;
}