<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/public/style/style.css">
    <title>Maid Sama</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Ichi Turn</a>
        </div>
    </nav>

    <div class="row">
        <div class="input-field col s10">
          <input placeholder="Type any card code here..." type="text" class="validate" id="card-code-input">
          <label for="cardCode">Card Code</label>
        </div>
        <div class="input-field col s2">
            <a class="waves-effect waves-light btn" id="add-card-code">Add Card Code</a>
        </div>

        <div class="col s12">
            <ul class="collection">
                <% for(var i=0; i<orders.length; i++) {%>

                    <li class="collection-item row">
                        <div class="card-code col s9"><%= orders[i] %></div>
                        <div class="input-field col s3">
                            <a class="waves-effect waves-light btn red">Remove</a>
                        </div>
                    </li>
                </li>
                 <% } %>
            </ul>



        <div class="input-field col s12">
            <a class="waves-effect waves-light btn blue">Submit</a>
        </div>
      </div>
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/public/js/script.js"></script>
</body>
</html>